<div class="row">
  <%= form_for @account, url: login_path do |f| %>
  <div class="col-md-6 session-form">
    <%= f.label :username, id: "label" %><br>
    <%= f.text_field :username, id: "input" %>
  </div>
  <div class="col-md-6 session-form">
    <%= f.label :password, id: "label" %><br>
    <%= f.password_field :password, id: "input"%>
  </div>
  <div class="col-md-12" id="move-submit">
    <%= f.submit "Log In", class: "submit" %>
  </div>
  <% end %>

</div>
