<!-- <div style="width: 33%; margin: 0; padding: 0; float: left;"> -->
  <!-- <div style="margin: 5px; padding: 5px; height: 200px; background-color: #eee;"> -->
<div class="col-md-3" style="margin:0; padding:0;">
  <% if event.location %>
    <div id="card-background" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=<%= event.location.latitude %>,<%= event.location.longitude %>&zoom=13&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000);">
  <% else %>
    <div id="card-background">
  <% end %>
  <div id="color-fade">
    <h3><%= link_to event.name, event, id: 'font-color-hover-fix' %></h3>
    <h4 id="details"><%= event.event_date.strftime("%a, %b, %e") %></h4>
    <% if event.location %>
    <h4 id="details"><%= event.location.name %></h4>
    <h4 id="details"><%= event.location.formatted_address %></h4>
    <% end %>
  </div>
</div>
</div>
