<%= form_for event do |f| %>
<br>
<table align="center">
    <div class="row">
  <tr>
      <div class="col-md-6">
        <td><%= f.label :name, id: 'label' %></td>
        <td><%= f.text_field :name, id: 'input', class: "width_box" %><br></td>
      </div>
  </tr>
  <tr>
    <div class="col-md-6">
      <td><%= f.label :capacity, id: 'label' %></td>
      <td><%= f.number_field :capacity, id: 'input', class: "width_box" %></td>
    </div>
  </tr>
  </div>

  <div class="row">
  <tr>
      <div class="col-md-6">
        <td><%= f.label :event_date, id: 'label' %></td>
        <td><%= f.date_field :event_date, id: 'input', class: "width_box"%><br></td>
      </div>
  </tr>
  <tr>
    <div class="col-md-6">
      <td><%= f.label :start_time, id: 'label'%></td>
      <td><%= f.time_field :start_time, id: 'input', class: "width_box"%><br></td>
    </div>
  </tr>
  </div>

  <div class="row">
    <tr>
      <div class="col-md-6">
        <td><%= f.label :end_time, id: 'label' %></td>
        <td><%= f.time_field :end_time, id: 'input', class: "width_box"%><br></td>
      </div>
    </tr>
    <tr>
    <div class="col-md-6">
      <td><%= f.label :location_id, id: 'label' %>
      <td><%= f.collection_select(:location_id, Location.all, :id, :name, {:include_blank => true}, {id: 'input', class: "width_box"})%><br></td>
    </div>
  </tr>
  </div>

</table>

  <div class="row">
    <tr>
      <div class="col-md-12" id="move-submit">
        <td><%= f.submit "Create Event", class: "submit" %></td>
      </div>
    </tr>
  </div>
<% end %>
