<%= form_for @location do |f| %>
<%= f.label :name, id: 'label' %></div>
<%= f.text_field :name, id: 'input' %>
<br />
<%= f.label :street_number, id: 'label' %>
<%= f.text_field :street_number, id: 'input' %>
<br />
<%= f.label :road, id: 'label' %>
<%= f.text_field :road, id: 'input' %>
<br />
<%= f.label :city, id: 'label' %>
<%= f.text_field :city, id: 'input' %>
<br />
<%= f.label :state, id: 'label' %>
<%= f.text_field :state, id: 'input' %>
<br />
<%= f.hidden_field :longitude %>
<%= f.hidden_field :latitude %>
<%= f.hidden_field :address %>
<%= f.hidden_field :formatted_address %>
<%= f.hidden_field :country %>
<br />
<%= f.submit "Edit Location", class: 'submit' %>
<% end %>
