<div class="col-md-3" style="margin:0; padding:0;">
  <div style="margin: 2px; height: 200px; background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=<%= location.latitude %>,<%= location.longitude %>&zoom=13&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000);">
    <div style="text-align: center;background: rgba(255, 255, 255, .4); height: 100%; width: 100%;padding: 5px;">
      <h3><%= link_to location.name, location %></h3>
      <strong><%= location.formatted_address %>
      <%= link_to "Edit location", edit_location_path(location) %></strong>
    </div>
  </div>
</div>
