<%= form_for @location, url: locations_confirm_path, method: :post do |f| %>
<table align="center">
      <tr >
            <td><%= f.label :name, id: 'label' %></td>
            <td><%= f.text_field :name, id: 'input' %></td>
      </tr>

      <tr >
            <td><%= f.label :address, "Address", id: 'label' %></td>
            <td><%= f.text_field :address, id: 'input' %></td>
      </tr>
    </table>


<table>
  <div class="row">
    <div class="col-md-12" id="move-submit">
      <%= f.submit class: 'submit', id: 'widen' %>
    </div>
  </div>
</table>

<% end %>
