<%= render partial: 'location_map', locals: {location: @location, key: @key} %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 space" id="card">
      <h1 id="title"><%= @location.name %></h3>
      <h3>Address:</h5><br />
      <p><%= @location.formatted_address %></p>
      <br />
      <%= render partial: 'favorite_button', locals: {account: @account, location: @location}%>
      <br />
      <%= button_to 'New Event', locations_newevent_path, :method => :post, class: 'submit', params: {location_id: @location.id} %>
      <br />
      <h5>Location Map:</h5><a href="http://maps.google.com/?q=<%=@location.latitude%>,<%=@location.longitude%>">Google Maps</a>
      <br />
      <%= link_to 'Edit', edit_location_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
      <%= render 'shared/flash_messages' if !flash.empty? %>
    </div>
  </div>
  <div class="col-md-12 separate">
    <h3 id="title">Events at this location</h3>
      <div class="row">
        <%= render partial: 'events/event', collection: @location.events.order(:event_date) %>
      </div>
    </p>
  </div>
